<template>
  <q-btn flat round>
    <q-avatar
      color="white"
      text-color="primary"
      class="cursor-pointer"
      size="32px"
    >
      <!-- Avatar com foto casa tenha foto -->
      <template v-if="user.photoURL">
        <img :src="user.photoURL" />
      </template>

      <!-- Avatar com iniciais -->
      <template v-else-if="user.initialString.length > 0">
        <span>{{ user.initialString }}</span>
      </template>

      <!-- Avatar com icone padrao caso nao tenha foto nem iniciais -->
      <template v-else>
        <q-icon name="person" size="32px" />
      </template>
    </q-avatar>

    <!-- menu logout -->
    <q-menu>
      <q-list style="min-width: 220px">
        <q-item v-close-popup :clickable="false">
          <q-item-section>
            {{ user.displayName }} <br />
            {{ user.displayName !== user.email ? user.email : "" }}
          </q-item-section>
        </q-item>
        <q-item v-close-popup clickable @click="logoutUserClicked">
          <q-item-section avatar>
            <q-icon color="primary" name="exit_to_app" />
          </q-item-section>
          <q-item-section>Logout</q-item-section>
        </q-item>
      </q-list>
    </q-menu>
  </q-btn>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapState("auth", ["user", "loggedIn"]),
  },

  methods: {
    ...mapActions("auth", ["logoutUser"]),

    logoutUserClicked() {
      if (this.$q.capacitor) {
        // capacitor logout
        window.plugins.googleplus.logout(function (msg) {
          console.log("logout", msg);
        });
        this.logoutUser();
      } else {
        // spa logout
        this.logoutUser();
      }
      this.$router.push("auth");
    },
  },
};
</script>
