<template>
  <q-page padding class="q-pt-xl">
    <q-card class="auth-tabs">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="login" label="Login" />
        <q-tab name="register" label="Register" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="login">
          <login />
        </q-tab-panel>

        <q-tab-panel name="register">
          <register />
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script>
export default {
  components: {
    login: require("src/pages/auth/components/login").default,
    register: require("src/pages/auth/components/register").default,
  },

  data() {
    return {
      tab: "login",
    };
  },
};
</script>

<style>
.auth-tabs {
  max-width: 400px;
  margin: 0 auto;
}
</style>
