<template>
  <div>
    <form @submit.prevent="submitForm">
      <div class="row q-mb-md">
        <q-banner class="bg-grey-3 col">
          <template v-slot:avatar>
            <q-icon name="account_circle" color="primary" />
          </template>
          Register to this great app
        </q-banner>
      </div>
      <div class="row q-mb-md">
        <q-input
          ref="email"
          v-model="formData.email"
          :rules="[
            (val) =>
              isValidEmailAddress(val) || 'Please enter a valid email address.',
          ]"
          type="email"
          lazy-rules
          outlined
          class="col"
          label="Email"
          stack-label
        />
      </div>
      <div class="row q-mb-md">
        <q-input
          ref="password"
          v-model="formData.password"
          :rules="[
            (val) =>
              val.length >= 6 || 'Password must have more than 6 characters.',
          ]"
          lazy-rules
          type="password"
          outlined
          class="col"
          label="Senha"
          stack-label
        />
      </div>
      <div class="row q-mb-md">
        <q-input
          ref="password2"
          v-model="formData.password2"
          :rules="[
            (val) => val === formData.password || 'Password must be the same',
          ]"
          lazy-rules
          type="password"
          outlined
          class="col"
          label="Repeat password"
          stack-label
        />
      </div>
      <div class="row">
        <q-space />
        <q-btn color="primary" label="Register" type="submit" />
      </div>
    </form>

    <q-separator class="q-mt-lg q-mb-xl" />
    <div class="row justify-center">
      <q-btn
        label="Register with Google"
        icon="img:https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
        class="col-9"
        @click="loginWithGoogle"
      />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { openURL } from "quasar";
import { notifyError } from "src/functions/messages";
import { Loading } from "quasar";

export default {
  filters: {
    titleCase(value) {
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },

  data() {
    return {
      formData: {
        email: "",
        password: "",
        password2: "",
      },
    };
  },
  methods: {
    ...mapActions("auth", [
      "signInWithCredential",
      "createUserWithEmailAndPassword",
    ]),

    isValidEmailAddress(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    submitForm() {
      this.$refs.email.validate();
      this.$refs.password.validate();
      this.$refs.password2.validate();
      if (
        !this.$refs.email.hasError &&
        !this.$refs.password.hasError &&
        !this.$refs.password2.hasError
      ) {
        this.createUserWithEmailAndPassword({
          email: this.formData.email,
          password: this.formData.password,
        })
          .then(() => this.$router.push("/"))
          .catch((error) => {
            notifyError(error.response.data.error);
          });
      }
    },

    loginWithGoogle() {
      if (this.$q.capacitor) {
        // capacitor login
        Loading.show();
        var self = this;
        window.plugins.googleplus.login(
          {
            webClientId: "XXXXXXXXXXXXX.apps.googleusercontent.com",
          },
          function (obj) {
            console.log("trySilentLogin: ", obj);
            self.res = obj;
            self.signInWithCredential(obj.idToken);
          },
          function (msg) {
            console.log("trySilentLogin error: " + msg);
            Loading.hide();
          }
        );
      } else {
        // spa login
        this.loginUser();
      }
    },
  },
};
</script>
