<template>
  <router-view />
</template>
<script>
import { defineComponent } from "vue";
import { mapActions } from "vuex";

export default defineComponent({
  name: "App",

  mounted() {
    this.handleAuthStateChange();
  },

  methods: {
    ...mapActions("auth", ["handleAuthStateChange"]),
  },
});
</script>
